<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="akamai" type="AkamaiApiProxy.Configuration.AkamaiSecurityConfigurationSettings, AkamaiApiProxy" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <akamai username="someone@company.com" password="mypassword" chunkSize="100" />
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Dev\\AkamaiApiClient\\Logs\\purgelog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HHmm" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="WARN" />
      </filter>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppenderError" type="log4net.Appender.ColoredConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
        <backColor value="Blue, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <backColor value="Cyan, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <!--appender-ref ref="FileAppender" /-->
    </root>
    <logger name="InfoLogger">
      <appender-ref ref="ColoredConsoleAppender" />
    </logger>
    <logger name="DetailsLogger">
      <appender-ref ref="ColoredConsoleAppenderError" />
    </logger>
  </log4net>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PurgeApiSOAPBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ccuapi.akamai.com:443/soap/servlet/soap/purge"
          binding="basicHttpBinding" bindingConfiguration="PurgeApiSOAPBinding"
          contract="AkamaiPurgeApi.PurgeApi" name="PurgeApi" />
    </client>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
