<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akamai" type="AkamaiApiProxy.Configuration.AkamaiSecurityConfigurationSettings, AkamaiApiProxy" />
  </configSections>
  
  <appSettings />
  
  <akamai username="test" password="test" />
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PurgeApiSOAPBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PurgeApiSOAPBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ccuapi.akamai.com:443/soap/servlet/soap/purge"
                binding="basicHttpBinding" bindingConfiguration="PurgeApiSOAPBinding"
                contract="AkamaiPurgeApi.PurgeApi" name="PurgeApi" />
        </client>
    </system.serviceModel>
</configuration>